<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer Sudoku</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <main>
        <h1>Welcome to Multiplayer Sudoku!</h1>
        <p>Join a game or create a new one to play with friends!</p>
        <div class="game-options">
            <button id="test-btn">Join Game</button>
        </div>
    </main>

    <script src="static/js/app.js"></script>
</body>
</html>